html,body{
    height:100%;
}

body{
    color:#6c6f73;    
}

h1,h2,h3,h4,h5{
 color:#333;   
}

h6{
    text-transform:uppercase;
    font-weight:bold;
    font-size: .8rem;
    letter-spacing: .1rem;
}

img{
    max-width:100%;
}

.blockquote{
    font-size: 1.6rem;
    color:#333;
    border:none;
    padding:0;
}

.blockquote-footer{
    margin: 1rem 0  0;
    
}

#stage {
    background: url(img/stage.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
}

#stage-caption{
    font-size: :1.4rem;
    font-weight:200;
    max-width:60rem;
    margin: 0 auto; 
    text-align:center;
}

#stage-caption h1{
    color:white;
    font-weight:bold;
    text-transform:uppercase;
}

.feature-content {  /** impo **/
    padding: 8rem 0;
    overflow: hidden;
}

.feature-dark{
    background-color:#262F36 ;
    color:white;
}

.feature-dark h2{
    color:white;
}

.feature-content img{
    margin-bottom: -8rem;
}

.feature-alt{
    background:#f0f0f0;
}

#feature-four .feature-content{
    padding:0;
}

#feature-five img{
    margin-top:2rem;
}



@media screen and ( min-width : 991px ){
    .feature-content{
    display:flex;
align-items:center;
}

}